.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  width: 100%;

  .login-form {
    max-width: 540px;
    width: 100%;
  }
}
